
@{
    ViewData["Title"] = "Measurements";
}

<h1>Measurements</h1>

<form>
    <div class="form-group">
        <div class="form-group">
            <label for="measurements_nameInput">Name</label>
            <input type="text" class="form-control" id="measurements_nameInput" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label for="measurements_valueInput">Value</label>
            <input type="number" class="form-control" id="measurements_valueInput" placeholder="Enter value">
        </div>
        <button type="button" class="btn btn-primary" id="measurements_addBtn">Add</button>
    </div>
</form>

<div class="container">
    <div class="row bg-light">
        <div class="col-sm">
            Id
        </div>
        <div class="col-sm">
            Name
        </div>
        <div class="col-sm">
            Value
        </div>
        <div class="col-sm">
            Created By
        </div>
        <div class="col-sm">
            <!-- Empty column for remove button -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            1st column
        </div>
        <div class="col-sm">
            2nd column
        </div>
        <div class="col-sm">
            3rd column
        </div>
        <div class="col-sm">
            4th column
        </div>
        <div class="col-sm">
            <a href="#">Remove</a>
        </div>
    </div>
</div>

<script src="~/js/new-measurement-section.js"></script>