
@{
    ViewData["Title"] = "Measurements";
}

<h1>Measurements</h1>

<form>
    <div class="form-group">
        <label for="measurements_nameInput">Name</label>
        <input type="text" class="form-control" id="measurements_nameInput" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="measurements_valueInput">Value</label>
        <input type="number" class="form-control" id="measurements_valueInput" placeholder="Enter value">
    </div>
    <button type="button" class="btn btn-primary">Add</button>
</form>
